 <!-- This is the footer partial -->
        <!-- The footer goes inside the body of views files but not always -->
        <hr />
        <footer>
            
            
            <figure>
                <img src="img/csumb_logo.png" alt="CSUMB Logo" />
            </figure>
            
            <div>
                <br />
                CST 336 Internet Programming. 2020&copy; Halbert <br />
                <br />
                <strong>Disclaimer:</strong> The information in this webpage is for academic purpose.
                <br />
                
            </div>
            
            <div id="contact">
                <br>
                If you are interested in studying Bioinformatics, contact: <br>
                <%= companyName %><br>
                Email: <%= email %> <br>
                
                
            </div>

        </footer>
        <!-- closing footer -->
        
    </body>
    <!-- closing body -->

</html>