<%- include('partials/header.ejs') %>
            
        <br /><br />
        
        <main>
            <figure>
                <img src="img/sequence.jpg" alt="Picture of a DNA strand / sequence" />
            </figure>
            
            <div class="main-content">
                <h2>What is DNA Sequencing?</h2>
                <p>In DNA double helixing, four chemical bases: Adenine (A), Thymine (T), Cytosine (C), Guanine (G).</p>
                <p>Sequencing DNA means determining the order of the four chemical bases.</p>
                
                <p>National Human Genome Research Institute (NHGRI) is the leader in most projects in DNA Sequencing</p>
                <p>One of the most popular DNA matching tool is called <a href="https://en.wikipedia.org/wiki/BLAST_(biotechnology)" target="_blank">BLAST</a> (Basic Local Alignment Search Tool). First the user provides the program with a biological sequence. Then the program compares the biological sequence input to the information found in the database. The results will show the most closely matching items followed by items that match less.
                </p>
                
            </div>
            
        </main>
        <%- include('partials/footer.ejs') %>
        