<%- include('partials/header.ejs') %>
        
        <br /><br />
        <main>
            <figure>
                <img src="img/DNA_profile.jpg" alt="Steps of DNA profile" />
            </figure>
            
            <div class="main-content">
                <h2>What is DNA Profiling?</h2>
                
                <p>FBI implemented the <abbr title="Combined DNA Index System">CODIS</abbr>, utilizing <abbr title="National DNA Index System">NDIS</abbr> to perform legal searches for DNA matches and Familial DNA profiling, by cross-matching against relatives.</p>
                <p>GenBank is a public database that provide a repository and accepts uploads from site like 23andMe and Ancestry-DNA 
                (Ancestry.com). GenBank is maintained by the US National Institution of Health.</p>
                <p>The current popular system in DNA profiling is using <a href="https://en.wikipedia.org/wiki/STR_analysis" target="_blank">STR</a> analysis.</p>
                
            </div>
            
        </main>
        <%- include('partials/footer.ejs') %>