<%- include('partials/header.ejs') %>
            
        <br /><br />
        
        <main>
            <div id="home-video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/K9MqyU298uE" allow="accelerometer; 
                    autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
            <div class="main-content">
                <h2>What is Bioinformatics?</h2>
                <p>Bioinformatics is the application of science and computer technology in storing, retrieving and analyzing large amounts of molecular biological information. 
                It is an interdisciplinary field that combines biology, computer science, information engineering, mathematics and statistics to analyze and interpret the biological data.
                </p>
                
                <p>The term bioinformatics was coined by Paulien Hogeweg and Ben Hesper to describe "the study of informatic processes in biotic systems" and it found early use when the first biological sequence data began to be shared.</p>
                <div class="topics">
                    <h3>Focuses on following subtopics:</h3>
                    <ul>
                        <li>DNA Sequencing</li>
                        <li>Genome Annotation/Prediction</li>
                        <li>Genome Profiling</li>
                    </ul>
                </div>
                
                <br /><br />
                
                
            </div>
            
        </main>
        <%- include('partials/footer.ejs') %>