<%- include('partials/header.ejs') %>
            
        <br /><br />
        
        <main>
            
            <div class="reference-content">
                <h2>Resources</h2>
                <br />
                <a href="https://www.genome.gov/about-genomics/fact-sheets/DNA-Sequencing-Fact-Sheet" target="_blank">DNA Sequencing Fact Sheet</a>
                <a href="https://www.ebi.ac.uk/training/online/course/bioinformatics-terrified/what-bioinformatics-0" target="_blank">The European Bioinformatics Institute</a>
                <a href="https://www.sciencedirect.com/topics/biochemistry-genetics-and-molecular-biology/genome-annotation" target="_blank">Science Direct - Genome Annotation</a>
                <a href="https://oig.justice.gov/reports/FBI/a0632/final.pdf" target="_blank">Combined DNA Index System</a>
                
            </div>
            
        </main>
        <%- include('partials/footer.ejs') %>